.header {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 221, 238);
    padding: 0.5em 0.5em 0.5em;
    font-weight: bolder;
}


/*.flex-parent-element#main-parent {
    display: grid;
    grid-column: auto;
    border: 2px;
    border-color: gray;
    border-radius: 0px;
    margin: 10px;
}*/

.flex-child-element#second-outer-child {
    display: flex;
    justify-content: left;
    background-color: rgb(46, 83, 83);
    font-weight: bold;
}

.flex-parent-element#menu {
    display: grid;
    grid-template-columns: 65px 65px 65px;
    justify-content: left;
    background-color: rgb(46, 83, 83);
    font-weight: normal;
    height: 15%;
}

#body-parent {
    display: flex;
    flex-wrap: wrap;
    /*grid-template-columns: 33.33% 33.33% 33.33%;
    flex-direction: row;*/
}

#Menu1 {
    border: 0.5px solid black;
    color: beige;
    padding: 10px;
}

#Menu2 {
    border: 0.5px solid black;
    color: beige;
    padding: 10px;
}

#Menu3 {
    border: 0.5px solid black;
    color: beige;
    padding: 10px;
}

#column1 {
    background-color: grey;
    height: 100px;
    width: 33.33%;
}

#column2 {
    height: 100px;
    background-color: rgb(189, 183, 183);
    width: 33.33%;
}

#column3 {
    background-color: rgb(230, 208, 208);
    height: 100px;
    width: 33.33%;
}

#fourth-outer-child {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 83, 83);
    font-weight: normal;
    color: beige;
    height: 15%;
    padding: 20px;
}

@media screen and (max-width:600px) {
    #body-parent {
        display: flex;
        flex-wrap: wrap;
        /*width: 100%;*/
        /*
        grid-template-columns: 33.33% 33.33% 33.33%;
        flex-direction: column;*/
    }
    #column2 {
        height: 100px;
        background-color: rgb(189, 183, 183);
        width: 100%;
        order: 3;
    }
    #column1 {
        background-color: grey;
        height: 100px;
        width: 50%;
    }
    #column3 {
        background-color: rgb(230, 208, 208);
        height: 100px;
        width: 50%;
    }
}