.flex-parent-element {
	display: flex;
	width: 50%;
	margin: 20px;
}
.flex-child-element {
	
	flex: 1;
	border: 0px solid green;
	margin: 1px;
}

body{
	background:aqua;
}

a{
	
}

span {
	font: Tahoma 20px bold italic;
	color: gray;
}

p{
	font-family: sans-serif;
	font-size: 16px;
	color:green;
	margin: 30px;
}



h1 {
	font-family: Georgia;
	color: brown;
	
}

h2 {}