.flex-parent-element {
	display: flex;
	width: 50%;
	margin: 20px;
}
.flex-child-element {
	
	flex: 1;
	border: 0px solid green;
	margin: 1px;
}

body{
	background:aqua;
}

a{
	
}

span {
	font-family: Tahoma bold italic;
	color: blue;
	font-size:30px;
}

p{
	font-family: sans-serif;
	font-size: 16px;
	color:green;
	margin: 30px;
}

h1 {
	font-family: Georgia;
	color: brown;
	
}

h2 {
	color: magenta;
}

a:link {text-decoration: none;color: green;}

a:active {text-decoration: green;}

a:hover { text-decoration: underline;}

a:visited { text-decoration: black;}

p::first-letter{
	text-transform: drop-caps; 
	font-size: 1.5em;
}

ol{
	font-weight:bold;
}

ol ul{
	list-style-type: none;
	
}

ol ol{
	list-style-type: lower-roman;
	font-weight:none;
}

ol ul ol{
	list-style-type: none;
	
}
ol ul ol ol{
	list-style-type: lower-roman;
	font-style: italic;
}