.flex-parent-element {
    display: flex;
    width: 50%;
    margin: 20px;
}

.flex-child-element {
    flex: 1;
    border: 0px solid green;
    margin: 1px;
}

body {
    background: aqua;
}

a {}

span {
    font-family: Tahoma bold italic;
    color: blue;
    font-size: 30px;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    color: green;
    margin: 30px;
}

h1 {
    font-family: Georgia;
    color: brown;
}

h2 {
    color: magenta;
    ba
}

a:link {
    text-decoration: none;
    color: green;
}

a:active {
    text-decoration: green;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: black;
}

p::first-letter {
    font-size: 1.5em;
    line-height: 1;
    float: left;
    margin: 5px 5px -7px 0;
}

ol {
    font-weight: bold;
}

ol ol {
    list-style-type: none;
    font-weight: normal;
}

ol ol ol ol {
    list-style-type: lower-roman;
    font-style: italic;
}