.parent {
    display: grid;
    grid-template-columns: 100%;
}

.navigation {
    display: flex;
    background-color: rgb(193, 148, 235);
    color: white;
    height: 50px;
    width: 100%;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.menu-item {
    margin-left: 1%;
    margin-right: 1%;
}

.menu-item-msg {
    margin-left: 45%;
    margin-right: 1%;
}

.menu-item-button {
    margin-left: 1%;
    margin-right: 10px;
    font-size: 15px;
    width: 80px;
    height: 45px;
}

.menu-item-button-parent {
    margin-left: 1%;
    margin-right: 5px;
}

.product-container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 20px;
    margin-left: 20px;
    margin-right: 0px;
}

.form-title {
    font-size: larger;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.data-input {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 5px;
    font-size: larger;
}

.Input {
    font-size: large;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    ;
}

.button {
    width: 90px;
    height: 30px;
    font-size: 15px;
    margin: 1px;
    padding: 5px;
}

#message {
    color: red;
    font-size: small;
}

#reset-button {
    color: blue;
    border-color: blue;
    border-radius: 4px;
}

#cancel-button {
    color: brown;
    border-color: brown;
    border-radius: 4px;
}

#add-button {
    color: rgb(60, 156, 240);
    border-color: rgb(60, 156, 240);
    border-radius: 4px;
}