body {
    background-color: #FFFFFF;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia;
}

h2 {
    text-align: left;
    color: green;
    text-decoration: underline;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode;
    font-size: 18pt;
}

h1 {
    text-align: center;
    color: green;
    text-decoration: underline;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode;
    font-size: 22pt;
}

ol {
    font-weight: bold;
}

ol ul {
    font-weight: lighter;
}

div.comment {
    background-color: orange;
    width: 30%;
}

a {
    color: #A4A400;
}